@model ECommerce.Entity.Member
@{
    ViewBag.Title = "AddMember";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<h2>AddMember</h2>
@using (Html.BeginForm())
{
<fieldset>   
    <div class="editor-label">
        @Html.LabelFor(model => model.UserRole)
    </div>
    <div class="editor-field">
        @Html.DropDownList("userTypes", new SelectList(ViewBag.userTypes, "Value", "Text"), "Select User Types")
        @Html.ValidationMessageFor(model => model.UserRole)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.FirstName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.LastName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Password)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Address)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Address)
        @Html.ValidationMessageFor(model => model.Address)
    </div>
    <p>
        <input type="submit" value="Create" />
    </p>
</fieldset>
}
