@using ECommerce.Entity
@model IEnumerable<Brand>
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout2.cshtml";
}

<h2>Brand List</h2>
<table border="1" class="table table-hover">
    <tr>
        <th>@Html.DisplayNameFor(t=>t.BrandName)</th>
        <th>@Html.DisplayNameFor(t=>t.Description)</th>
        <th>@Html.DisplayNameFor(t=>t.Photo)</th>
        <th>Edit & Delete</th>
    </tr>
    @foreach (Brand item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(t=>item.BrandName)</td>
            <td>@Html.DisplayFor(t=>item.Description)</td>
            <td><center><img src="~/Upload/@item.Photo" class="img-circle" style="width:75px" height="75"/></center></td>
            <td>
                @Html.ActionLink("Edit","Edit",new { @id=item.BrandId})
                @Html.ActionLink("Delete","Delete",new { @id=item.BrandId})
            </td>
        </tr>
    }
</table>

